.main{
  margin:auto;
  width:100vw;
  max-width: 800px;
  
  display:flex;
  flex-direction: column;
  justify-content: center;
}
form{
  align-self: center;
  display:flex;
  
}
body{
  background-color: rgb(155, 208, 235, 0.5);
}
h1{
  text-align: center;
font-family: 'Comforter Brush',cursive;
font-size: 50px;
margin-top: 30px;
}
.imgUrl{
 width: 100px;
}
.blackout{
  position: fixed;
  background-color: rgb(5, 3, 0,0.3);
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow-y: scroll;
}
.details{
 
 padding:15px;
 text-align: center;
}
.display-box{
  background-color:azure;
  margin:20px auto;
  max-width: 700px;
  width: 90vw;
  border-radius: 20px;
  position: relative;

}
.weather-item{
  box-shadow: 5px 10px 18px #888888;
  border-radius: 20px;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-component{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  padding:20px;
  
  
 
  gap:15px;
}
.cancelBtn{
  position:absolute;
  right:20px;
  top:10px;
}
.stateTable{
  margin-top:10px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10px;
}
.StateCard{
  text-align: center;
  padding:10px;
  background-color: beige;
  border-radius: 20px;
  cursor:pointer
}
.StateCard:hover{
  background-color: rgb(255, 236, 201);
}
.error{
  background-color: azure;
  padding:30px;
  width:80vw;
  max-width: 600px;
  border-radius: 20px;
  margin:auto;
  margin-top:50px;
  text-align: center;
}

.date-picker{
  padding:0 20%;
  display:flex;
  
}
.date-swipe{
  
  position: relative;
  flex-grow: 1;
  left:35%;
}
.date{
  
  transition: all 0.5s;
  position: absolute;
  opacity: 0;
 
}
.selected-date{
  
  transform: translateX(0);
  opacity: 1;
}
.next-date{
  transform: translateX(-100%);
  
}
.prev-date{
  transform: translateX(100%);
}
.loader {
  margin:auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media  only screen and (max-width:900px) {
  .weatherComponent{
    left:10%;
    
  }
}
@media only screen and (min-width:901px)and (max-width:1100px) {
  .weatherComponent {
    left: 20%;

  }
}
@media only screen and (max-width:600px) {
  .stateTable,
  .weather-component {
    grid-template-columns: 1fr 1fr;
  }
  .date-swipe{
    left:0px;
  }
  
}